<br>
 <div class="form-center">
<%= simple_form_for :form, :url => '/' do |f| %>
   <h1>The lottery price is 0.001 eth </h1>
    <%= f.submit 'Apply Now', class: 'btn btn-primary', id: 'applyLotterybtn'%>   
<% end %>
</div>