<br><br><br><br><br><br>
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome in lottery System</h5>
    <p class="card-text">Life is a lottery that we've already won. But most people have not cashed in their tickets.</p>
    <a href="/openLottery" id="openLotterybutton" class="btn btn-primary">Open lottery </a>
     <a href="/closeLottery" id="closeLotterybutton" class="btn btn-secondary">CLose lottery </a>
     
  </div>
  <div class="card-footer text-muted">
    Good Luck !! 
  </div>
</div>